<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to Settings.app_name, root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("header.home"), static_pages_home_path %></li>
      <li><%= link_to t("header.help"), static_pages_help_path %></li>
      <li><%= link_to t("log_in"), "#" %></li>
      <li><%= link_to t("language.english"), locale: :en %></li>
      <li><%= link_to t("language.vietnamese"), locale: :vi %></li>
    </ul>
  </div>
</header>
